/*header*/
@charset "UTF-8";
body {
	top:0;
	margin:0;
	padding: 0;
	background-color:rgba(204, 204, 204,0.7);
}

.en-tete {
padding-bottom: 45%;
background:url(image/bedroom-462772_1280.jpg) no-repeat bottom ;
 background-attachment: fixed;
 background-size: cover;

}

.nav {
top: 20px;
left:0;
right: 0;
padding: 20px;
width: 96%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
border-radius: 10px 55px;
background-color:rgba(255, 117, 26, 0.5);
position: relative;
border:1px solid #fff;

}

.nav .logo {
	
	width: 30%;
	text-align: center;
	
}
                
.nav .menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 45%;

}
a {
	text-decoration: none;
	color:#fff;
	font-size:22px;
	cursor: pointer;
	font-family:purisa,oblique;
	transition: 0.3s;
}


.reserver {
	border:1px solid;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius:35px 35px;
	background-color:#ff751a;
	color:#fff;	
}

.reserver:hover {
	border:1px solid;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius:35px 35px;
	background-color:#fff;
	color:#ff751a;
	border-color:#ff751a;	
}

.accroche{


}
/*fin header*/

/*section1*/
.contenue {
	padding-bottom: 150px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: url(image/leaf-3865014_1920.jpg)  center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.section1 {
	width: 80%;
	align:center;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.picture1 {
	margin-top: 100px;
	width: 650px;
	height: 30px;
	padding-bottom: 350px;

	
}

.picture1 img {
	width: 700px;
	height: 480px;

}

.descri-picture1{
	margin-top: 150px;
	width: 400px;
	height: 30px;
	padding-bottom: 350px;
	background-color: rgba(0,0,0,0.5);
	
}

/*fin section1*/

/*debut section2*/

.section2 {
	width: 80%;
	margin-top: 200px;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.picture2 {
	margin-top: 100px;
	width: 650px;
	height: 30px;
	padding-bottom: 350px;

	
}

.picture2 img {
	width: 700px;
	height: 480px;
}

.descri-picture2{
	margin-top: 150px;
	width: 400px;
	height: 30px;
	padding-bottom: 350px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.descri-picture2 h1 {
	color:#fff;
	font-family: lato Hairline,Italic;
	font-weight: 90;
	font-size: 60px;
}

.descri-picture2 p {
	color:#fff;
	font-size: 20px;
	font-family: Sawasdee,Oblique;
	font-weight: 90;
}

.descri-picture2 a {
	border:1px solid #fff;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 5px 5px rgba(0,0,0,0.7);
	background-color:rgba(255, 117, 26, 0.7);
}


/*pop*/




#chambre_modal {
    width: 300px;
    height: 50px;
    color:#fff;
    background-color: #ff6600;
    font-size:15px;
    cursor:progress;

}

.button_reservation_chambre{
    display:flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap:wrap-reverse;
    margin-top:10px;
}
#pop {
    width: 400px;
    height: 500px;
    border:1px solid #fff;
    text-align: center;
    color:#000;
    position: absolute;
    top:-800px;
    left:40%;
    background-color: rgba(255, 117, 26,0.4);
    border-radius: 5px 5px;
}
#close {
	font-size: 25px;
	color:rgba(225, 225, 225,0.8);
	margin-top: 5px;
	font-weight: 50;
	margin-left: 350px;
	cursor: pointer;
}

 input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border:2px solid  #cccccc;
    font-family:sans-serif;
    font-size:15px;
}

.option_1 , .option_2{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mois , .annee , .date{
width: 100px;
height: 40px;
background-color:#fff ;
border-radius: 5px 5px;
text-align: center;
margin-right: 15px;
margin-left: 15px;
color: #fff;
background-color: rgba(0,0,0,0.7);
}

.nuit ,.Adulte , .Enfant, .Chambre {
	margin-top: 30px;
	border:1px solid;
	border-radius: 5px 5px;
	width: 150px;
	font-size:15px;
	color:#fff;
	font-style: italic;
	font-family: purisa,oblique;
}

.nuit:hover ,.Adulte:hover , .Enfant:hover, .Chambre:hover {
	margin-top: 30px;
	border:1px solid;
	border-radius: 5px 5px;
	box-shadow: 1px 1px 1px 1px
	rgba(26,203,206,0.8);
	width: 150px;
	font-size:15px;
	color:#fff;
	font-style: italic;
	font-family: purisa,oblique;
}
.nuit select ,.Adulte select , .Enfant select , .Chambre select {
width: 35px;
height: 20px;
background-color:#fff ;


}

.validation{
	margin-top: 20px;
	width: 200px;
	height: 40px;
	font-size: 30px;
	border:1px solid #fff;
	color:#fff;
	background-color: #ff751a;
	font-family:sans-serif;
	font-style: italic;
}

.date-debut , .date-fin {
	color:#fff;
	
	font-size: 20px;
}



/*fin pop*/
/*
fin section2*/



/*footer*/

.trouver_contact {
	text-align: center;
	font-size:29px;
}

.maps img {
	width: 500px;
	height: 500px;
	border-radius: 15px 15px;
}

.contact {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.icone {
	text-align: center;
	padding: 50px;

}


footer {
	top:0;
	padding: 0;
	margin: 0;
	background-color:rgba(204, 204, 204,0.4);
	padding-bottom: 50px;
}

footer h1 {
	color: rgba(255, 117, 26,1);
	font-family:  lato Hairline,Italic;
	font-style: italic;
}

.mailer {
	width: 500px;
	border:2px dashed  rgba(204,204,204,1);
	color:rgba(255, 117, 26,1);
	text-align: center;
	border-radius: 15px 15px;
	
}
.email-admin{
	font-size: 20px;
	font-style: italic;

}

.mailer span {
	font-size: 20px;
	font-style: italic;
}

.user-mail {
	margin-top: 20px;
}
textarea {
	max-width: 400px;
	max-height: 300px;
	min-width: 150px;
	min-height: 150px;
	width: 300px;
	height: 150px;
	border-radius: 5px 5px;
	margin-top: 30px;s
}

.envoi {
	font-size: 15px;
	font-style: italic;
	width: 150px;
	background-color: rgba(255, 117, 26, 1) ;
	color:rgb(204,204,204);
}


.icone img {
	margin-left:30px;
	margin-right: 30px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
